{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Single News</title>{% endblock %}

    {% block body %}
        <section class="tree-propagation secondary-pages-top-content" style="background:url('../uploads/images/IMG_1990.JPG') no-repeat; background-size:cover;">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-sm-6">
                        <h1>{% trans %}TREE PROPAGATION{% endtrans %}</h1>
                    </div>
                    <div class="col-sm-6 cover-text">
                        <p>{% trans %}ATP has learned how to successfully plant<br>
                            over 50 varieties of trees and shrubs across<br>
                            11 regions of Armenia and Artsakh.{% endtrans %}</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="tree-propagation-content-wrapper">
            <section class="community-second">
                <div class="container">
                    <div class="row center-aligned-row">
                        <div class="col-md-6">
                            <p>Our everyday work is geared toward improving the quality of the seedlings we plant and the productivity of our nurseries. Maintaining high quality while simultaneously increasing quantity requires an understanding of the original land, the opportunities presented by new technologies, and the evolutionary challenges presented by climate change and atmospheric conditions.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="../uploads/images/planting-progrma-work.png" alt="">
                        </div>
                    </div>
                </div>
            </section>


            <!--Planting Model Section-->


            <section class="planting-model-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>{% trans %}OUR COMMUNITY TREE PLANTING NURSERIES{% endtrans %}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sx-12 tree-propagation-planting-single-model text-center">
                            <img src="../uploads/images/karin.png" alt="phase-one">
                            <h5>
                                {% trans %}Karin Nursery{% endtrans %}
                            </h5>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Established{% endtrans %}
                                </p>
                                <p class="value">
                                    1996
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Location{% endtrans %}
                                </p>
                                <p class="value">
                                    {% trans %}ARAGATSOTN{% endtrans %}
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                   {% trans %} Area{% endtrans %}
                                </p>
                                <p class="value">
                                    10.000 SQ.M.
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Employees{% endtrans %}
                                </p>
                                <p class="value">
                                    {% trans %}12 (BAKU REFUGEES){% endtrans %}
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Trees and shrubs produced{% endtrans %}
                                </p>
                                <p class="value">
                                    519,000
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Current seedlings{% endtrans %}
                                </p>
                                <p class="value">
                                    44,000
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sx-12 tree-propagation-planting-single-model text-center">
                            <img src="../uploads/images/khachpar.png" alt="phase-one">
                            <h5>
                                {% trans %}Khachpar Nursery{% endtrans %}
                            </h5>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Established{% endtrans %}
                                </p>
                                <p class="value">
                                    1999
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Location{% endtrans %}
                                </p>
                                <p class="value">
                                    {% trans %}ARARAT{% endtrans %}
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Area{% endtrans %}
                                </p>
                                <p class="value">
                                    13.000 SQ.M.
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Employees{% endtrans %}
                                </p>
                                <p class="value">
                                    {% trans %}10 (ARTSAKH REFUGEES){% endtrans %}
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Trees and shrubs produced{% endtrans %}
                                </p>
                                <p class="value">
                                    450,000
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Current seedlings{% endtrans %}
                                </p>
                                <p class="value">
                                    60,000
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sx-12 tree-propagation-planting-single-model text-center">
                            <img src="../uploads/images/chiva.png" alt="phase-one">
                            <h5>
                                {% trans %}Chiva Nursery{% endtrans %}
                            </h5>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Established{% endtrans %}
                                </p>
                                <p class="value">
                                    2016
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Location{% endtrans %}
                                </p>
                                <p class="value">
                                    {% trans %}VAYOTZ DZOR{% endtrans %}
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Area{% endtrans %}
                                </p>
                                <p class="value">
                                    45.000 SQ.M.
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Employees{% endtrans %}
                                </p>
                                <p class="value">
                                    8
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Trees and shrubs produced{% endtrans %}
                                </p>
                                <p class="value">
                                    11,600
                                </p>
                            </div>
                            <div class="nursery-info-single-row">
                                <p class="property">
                                    {% trans %}Current seedlings{% endtrans %}
                                </p>
                                <p class="value">
                                    34,100
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/en/mirak">
                            <button>{% trans %}Find out more about our Mirak Nursery{% endtrans %}</button>
                        </a>
                    </div>
                </div>
            </section>


            <section class="propagation-type-content-wrapper">
                <div class="container">
                    <div class="propagation-type-single-content-wrapper">
                        <div class="single-type">
                            <img src="../img/blueberry.svg" alt="">
                            <div>
                                <p>{% trans %}BLUEBERRIES{% endtrans %}</p>
                            </div>
                        </div>
                        <div class="single-type">
                            <img src="../img/pear.svg" alt="">
                            <div>
                                <p>{% trans %}MALACHA PEAR{% endtrans %}</p>
                            </div>
                        </div>
                        <div class="single-type">
                            <img src="../img/pear.svg" alt="">
                            <div>
                                <p>{% trans %}DZMERNUK PEAR{% endtrans %}</p>
                            </div>
                        </div>
                        <div class="single-type">
                            <img src="../img/apricot.svg" alt="">
                            <div>
                                <p>{% trans %}YEREVANI APRICOT{% endtrans %}</p>
                            </div>
                        </div>
                        <div class="single-type">
                            <img src="../img/apricot.svg" alt="">
                            <div>
                                <p>{% trans %}SATENI APRICOT{% endtrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="community-third">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                {% trans %}RESEARCH AND METHODOLOGY{% endtrans %}
                            </h4>
                        </div>
                    </div>
                    <div class="row focus-items">
                        <div class="col-md-6 text-center">
                            <img src="../uploads/images/metodology.png" alt="">
                            <a data-toggle="modal" data-target="#how_use_grafting">
                                <button class="grafting-tech-btn">
                                    {% trans %}How does ATP use grafting to grow more trees?{% endtrans %}
                                </button>
                            </a>
                            <div class="modal fade" id="how_use_grafting" tabindex="-1" role="dialog" aria-labelledby="how_use_grafting" aria-hidden="true">
                                <div class="modal-dialogg">
                                    <div class="modal-contentt">
                                        <div class="modal-body">
                                            <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <div class="video-container">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/bm_XXJTtlDg" frameborder="0" allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 methodology-info-text-wrapper">
                            <strong>{% trans %}Priorities{% endtrans %}</strong>
                            <ul>
                                <li>{% trans %}Find ideal propagation methods{% endtrans %}</li>
                                <li>{% trans %}Determine the right time for sowing seeds and planting cuttings{% endtrans %}</li>
                                <li>{% trans %}Determine the ideal time for plantings based on biological features of the plants and delivery to planting sites{% endtrans %}</li>
                            </ul>
                            <strong>{% trans %}Key Methods{% endtrans %}​​​​​​​</strong>

                            <ul>
                                <li>{% trans %}Graft fruit tree seedlings{% endtrans %}</li>
                                <li>{% trans %}Use containers to ensure longevity{% endtrans %}</li>
                                <li>{% trans %}Use manure and crop rotation to enrich soil{% endtrans %}</li>
                                <li>{% trans %}Protect greenhouses and open areas from overheating and hail{% endtrans %}</li>
                                <li>{% trans %}Categorize the seeds for quality control{% endtrans %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>




        <!--Footer Section-->

        <section class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact',{ 'lang': app.request.locale }) }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                        <p class="hashtag">#GetRooted</p>
                        <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                        <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                        <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                        <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                    </div>
                </div>
            </div>
        </section>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}