{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Meet Tchalo</title>{% endblock %}
{% block body %}


    {% include('interactive/secondary-menu.html.twig') %}
    <section class="meet-tchalo-wrapper">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-6 col-xs-12">
                    {% autoescape %}
                            <h4>JOIN TCHALO AND PREVENT FOREST FIRES</h4>
                    {% endautoescape %}
                    {% autoescape %}
                            <p>Fire prevention is an important part of protecting our earth. Like the rest of the globe, Armenia is affected by drought and more extreme weather events caused by climate change. The risk of fire is high.  Join Tchalo the Dog and learn how you can prevent Forest Fires.</p>
                    {% endautoescape %}
                    <div class="tchalo-video" style="background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('.../img/tchalo-video-bck.png') no-repeat; background-size: cover; height: 260px">
                        <div class="title-and-play-button-wrapper">
                                <h3>Watch Tchalo Video: <br/>
                                    A partnership with ATP <br/>
                                    & The TUMO Center</h3>
                            <a  data-toggle="modal" data-target="#tchalo_forest_video"><img class="play-button" src="../img/play_btn.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="modal fade" id="tchalo_forest_video" tabindex="-1" role="dialog" aria-labelledby="tchalo_forest_video"
                         aria-hidden="true">
                        <div class="modal-dialogg">
                            <div class="modal-contentt">
                                <div class="modal-body">
                                    <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <div class="video-container">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/iWI-vvxJV4I" frameborder="0"  allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <img src="../uploads/images/1.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!--Footer Section-->
    {% include('interactive/footer.html.twig') %}

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>


    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

    </body>
    </html>
{% endblock %}